* {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

body header nav {
  background-color: white;
  border-bottom: 1px rgba(169, 169, 169, 0.712) solid;
  width: 100%;
  z-index: 5;
}

body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body header nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header nav ul li a {
  min-width: 100px;
  min-height: 10vh;
  color: #000;
  text-decoration: none;
  padding: 0rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25rem;
}

body header nav ul li a:hover {
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
  background-color: rgba(169, 169, 169, 0.205);
  font-size: 1.5rem;
}

body main div.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: rgba(169, 169, 169, 0.205) solid 2px;
  margin: 0rem 2rem;
}

body main div.project div.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
}

body main div.project div.left img {
  width: 20rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10%;
  -webkit-box-shadow: rgba(27, 26, 26, 0.329) 1px 1px 1px 0;
          box-shadow: rgba(27, 26, 26, 0.329) 1px 1px 1px 0;
}

body main div.project div.left img:hover {
  width: 25rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body main div.project div.rigft {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0rem;
  border-left: rgba(169, 169, 169, 0.205) 2px solid;
}

body main div.project div.rigft div.Introduction {
  margin: 1rem;
}

body main div.project div.rigft div.Introduction h2 {
  font-size: 2rem;
  padding: 0.5rem 0rem;
}

body main div.project div.rigft div.Introduction p {
  font-size: 1.05rem;
  letter-spacing: 3px;
  padding-left: 2.25rem;
}

body main div.project div.rigft div.Introduction a {
  text-decoration: none;
  color: blue;
}

body main div.project div.rigft div.Introduction a:hover {
  color: blueviolet;
  font-size: 1.15rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body main div.project div.rigft:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-left: none;
  background-color: rgba(255, 248, 220, 0.678);
}
/*# sourceMappingURL=stylet2.css.map */