* {
  margin: 0;
  padding: 0;
  // 寬高設定作用在邊框外緣的範圍內
  box-sizing: border-box;
  // 字體粗度不依照預設
  font-weight: normal;
  // 字體大小不依照預設
  font-size: normal;
}
/*
1.nested CSS
2.voriadles
3.self &
4.import
(1)分類
(2)重複利用 
5.mixim
*/
header {
  background-color: blueviolet;
  h1 {
    color: brown;
  }
}

$color1: brown;

header {
  h2 {
    color: $color1;
  }
}

header {
  h3 {
    color: $color1;
  }
  &:hover {
    background-color: cyan;
  }
}
@import "./styles2";
